<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dagree.fft_sound_pack">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="31" />

<application
android:label="FFT Sound Pack">
<activity android:name=".MainActivity">
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</activity>
</application>
    </manifest>
